{
  "access-id": "{{ taskrunner.access_key }}",
  "private-key": "{{ taskrunner.private_key }}",
  "region": "{{ taskrunner.region }}",
  "log-uri": "{{ taskrunner.log_uri }}",
  "workerGroup": "{{ taskrunner.workergroup }}"
}
